:root {
  --primary-fz: 14px;
  --primary-fw: 500;
  --pr-font: 'DM Sans', sans-serif;
  --title-font: 'Titan One', cursive;
  --pr-text-color: #000000;
  --sec-text-color: #907e82;
  --pr-white-color: #ffffff;
  --pr-accent-color: #ffa5ba;
  --sec-accent-color: #d41443;
  --pr-bg-color: #ffb8ca;
  --soc-bg-color: #fea5bb;
  --border-line: 1px solid #e1e1e1;




  --border-mb-menu: 1px solid #e18298;
  --bg-cl-mb-menu: #e17992;
  --btn-accent-cl: #ECEBEB;
  --burger-btn-accent-cl: #7c0c28;

}

