<section class="section contacts" id="contacts">
    <div class="container">
        <h2 class="section__title visually-hidden">Contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__item">
                <p class="contacts__title">CAFE</p>
                <p class="contacts__text-black contacts__text--margin-bottom">
                    Chicago
                </p>
                <p class="contacts__text">
                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <div class="contacts__box-working-time">
                    <p class="contacts__text-black">Monday - Friday</p>
                    <p class="contacts__text-red contacts__text--margin-bottom">
                        06:00 AM - 10:00 PM
                    </p>
                    <p class="contacts__text-black">Saturday - Sunday</p>
                    <p class="contacts__text-red">08:00 AM - 16:00 PM</p>
                </div>
                <ul class="contacts__box-list">
                    <li>
                        <a class="contacts__box-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="contacts__box-link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__title contacts__title--green">FOODTRUCK</p>
        <p class="contacts__text-black contacts__text--margin-bottom">
          Los Angeles
        </p>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contacts__box-working-time">
          <p class="contacts__text-black">Monday - Friday</p>
          <p class="contacts__text-red contacts__text--margin-bottom">
            06:00 AM - 10:00 PM
          </p>
          <p class="contacts__text-black">Saturday - Sunday</p>
          <p class="contacts__text-red">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts__box-list">
          <li>
            <a class="contacts__box-link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="contacts__box-link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__title">CAFE</p>
        <p class="contacts__text-black contacts__text--margin-bottom">
          New York
        </p>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contacts__box-working-time">
          <p class="contacts__text-black">Monday - Friday</p>
          <p class="contacts__text-red contacts__text--margin-bottom">
            06:00 AM - 10:00 PM
          </p>
          <p class="contacts__text-black">Saturday - Sunday</p>
          <p class="contacts__text-red">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts__box-list">
          <li>
            <a class="contacts__box-link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="contacts__box-link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="btn-list">
      <li class="btn-list__item">
        <button
          class="btn btn-list__btn btn-list__btn--red"
          data-map-modal-open
        >
          Our Locations
          <svg class="btn__icon" width="4" height="8">
            <use href="/src/icons/sprite.svg#icon-arrow-right-btn"></use>
          </svg>
        </button>
      </li>
      <li class="btn-list__item">
        <button class="btn btn-list__btn" data-franchise-modal-open>
          Franchise
          <svg class="btn__icon" width="4" height="8">
            <use href="/src/icons/sprite.svg#icon-arrow-right-btn"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>