<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__item gallery__item-1">
        <a
          data-fslightbox="gallery"
          href="./images/gallery-fslightbox/gallery-1.jpg"
        >
          <picture>
            <source
              srcset="
                ./images/gallery_1-ld.png    1x,
                ./images/gallery_1-ld@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery_1-md.png    1x,
                ./images/gallery_1-md@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery_1-sm.png    1x,
                ./images/gallery_1-sm@2x.png 2x
              "
              type="image/png"
              media="(min-width: 320px)"
            />

            <img
              class="gallery__image"
              src="./images/gallery_1-sm.png"
              alt="Green icecream"
            />
          </picture>
        </a>
      </li>

      <li class="gallery__item gallery__item-2">
        <a
          data-fslightbox="gallery"
          href="./images/gallery-fslightbox/gallery-2.jpg"
        >
          <picture>
            <source
              srcset="
                ./images/gallery_2-ld.png    1x,
                ./images/gallery_2-ld@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery_2-md.png    1x,
                ./images/gallery_2-md@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery_2-sm.png    1x,
                ./images/gallery_2-sm@2x.png 2x
              "
              type="image/png"
              media="(min-width: 320px)"
            />

            <img
              class="gallery__image"
              src="./images/gallery_2-sm.png"
              alt="Шce cream cone"
            />
          </picture>
        </a>
      </li>

      <li class="gallery__item gallery__item-3">
        <a
          data-fslightbox="gallery"
          href="./images/gallery-fslightbox/gallery-3.jpg"
        >
          <picture>
            <source
              srcset="
                ./images/gallery_3-ld.png    1x,
                ./images/gallery_3-ld@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery_3-md.png    1x,
                ./images/gallery_3-md@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery_3-sm.png    1x,
                ./images/gallery_3-sm@2x.png 2x
              "
              type="image/png"
              media="(min-width: 320px)"
            />

            <img
              class="gallery__image"
              src="./images/gallery_3-sm.png"
              alt="Lolly ice cream"
            />
          </picture>
        </a>
      </li>

      <li class="gallery__item gallery__item-4">
        <a
          data-fslightbox="gallery"
          href="./images/gallery-fslightbox/gallery-4.jpg"
        >
          <picture>
            <source
              srcset="
                ./images/gallery_4-ld.png    1x,
                ./images/gallery_4-ld@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery_4-md.png    1x,
                ./images/gallery_4-md@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery_4-sm.png    1x,
                ./images/gallery_4-sm@2x.png 2x
              "
              type="image/png"
              media="(min-width: 320px)"
            />

            <img
              class="gallery__image"
              src="./images/gallery_4-sm.png"
              alt="Many different ice creams"
            />
          </picture>
        </a>
      </li>

      <li class="gallery__item gallery__item-5">
        <a
          data-fslightbox="gallery"
          href="./images/gallery-fslightbox/gallery-5.jpg"
        >
          <picture>
            <source
              srcset="
                ./images/gallery_5-ld.png    1x,
                ./images/gallery_5-ld@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery_5-md.png    1x,
                ./images/gallery_5-md@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery_5-sm.png    1x,
                ./images/gallery_5-sm@2x.png 2x
              "
              type="image/png"
              media="(min-width: 320px)"
            />

            <img
              class="gallery__image"
              src="./images/gallery_5-sm.png"
              alt="Girl with ice cream"
            />
          </picture>
        </a>
      </li>

      <li class="gallery__item gallery__item-6">
        <a
          data-fslightbox="gallery"
          href="./images/gallery-fslightbox/gallery-6.jpg"
        >
          <picture>
            <source
              srcset="
                ./images/gallery_6-ld.png    1x,
                ./images/gallery_6-ld@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery_6-md.png    1x,
                ./images/gallery_6-md@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery_6-sm.png    1x,
                ./images/gallery_6-sm@2x.png 2x
              "
              type="image/png"
              media="(min-width: 320px)"
            />

            <img
              class="gallery__image"
              src="./images/gallery_6-sm.png"
              alt="Hand puts berry in ice cream"
            />
          </picture>
        </a>
      </li>

      <li class="gallery__item gallery__item-7">
        <a
          data-fslightbox="gallery"
          href="./images/gallery-fslightbox/gallery-7.jpg"
        >
          <picture>
            <source
              srcset="
                ./images/gallery_7-ld.png    1x,
                ./images/gallery_7-ld@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery_7-md.png    1x,
                ./images/gallery_7-md@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery_7-sm.png    1x,
                ./images/gallery_7-sm@2x.png 2x
              "
              type="image/png"
              media="(min-width: 320px)"
            />

            <img
              class="gallery__image"
              src="./images/gallery_7-sm.png"
              alt="Ice cream in hand"
            />
          </picture>
        </a>
      </li>

      <li class="gallery__item gallery__item-8">
        <a
          data-fslightbox="gallery"
          href="./images/gallery-fslightbox/gallery-8.jpg"
        >
          <picture>
            <source
              srcset="
                ./images/gallery_8-ld.png    1x,
                ./images/gallery_8-ld@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery_8-md.png    1x,
                ./images/gallery_8-md@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery_8-sm.png    1x,
                ./images/gallery_8-sm@2x.png 2x
              "
              type="image/png"
              media="(min-width: 320px)"
            />

            <img
              class="gallery__image"
              src="./images/gallery_8-sm.png"
              alt="Dog and ice cream"
            />
          </picture>
        </a>
      </li>

      <li class="gallery__item gallery__item-9">
        <a
          data-fslightbox="gallery"
          href="./images/gallery-fslightbox/gallery-9.jpg"
        >
          <picture>
            <source
              srcset="
                ./images/gallery_9-ld.png    1x,
                ./images/gallery_9-ld@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery_9-md.png    1x,
                ./images/gallery_9-md@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery_9-sm.png    1x,
                ./images/gallery_9-sm@2x.png 2x
              "
              type="image/png"
              media="(min-width: 320px)"
            />

            <img
              class="gallery__image"
              src="./images/gallery_9-sm.png"
              alt="Hand holding glass of ice cream"
            />
          </picture>
        </a>
      </li>

      <li class="gallery__item gallery__item-10">
        <a
          data-fslightbox="gallery"
          href="./images/gallery-fslightbox/gallery-10.jpg"
        >
          <picture>
            <source
              srcset="
                ./images/gallery_10-ld.png    1x,
                ./images/gallery_10-ld@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery_10-md.png    1x,
                ./images/gallery_10-md@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery_10-sm.png    1x,
                ./images/gallery_10-sm@2x.png 2x
              "
              type="image/png"
              media="(min-width: 320px)"
            />

            <img
              class="gallery__image"
              src="./images/gallery_10-sm.png"
              alt="Ice cream on donut"
            /> </picture
        ></a>
      </li>
    </ul>
  </div>
</section>
