<section class="reviews">
  <div class="container">
    <h2 class="visually-hidden">Customers reviews</h2>
    <div class="swiper mySwiper">
      <ul class="reviews__list swiper-wrapper">
        <li class="reviews__item swiper-slide">
          <picture>
            <source
              srcset="
                ./images/testimonials_1.png    1x,
                ./images/testimonials_1@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="reviews__img"
              src="./images/testimonials_1.png"
              alt="Emily, Los Angeles"
              loading="lazy"
            />
          </picture>
          <div class="reviews__thumb">
            <div class="reviews--underline">
              <p class="reviews__content">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews__customer">Emily, Los Angeles</p>
        </li>
        <li class="reviews__item swiper-slide">
          <picture>
            <source
              srcset="
                ./images/testimonials_2.png    1x,
                ./images/testimonials_2@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="reviews__img"
              src="./images/testimonials_2.png"
              alt="Emily, Los Angeles"
              loading="lazy"
            />
          </picture>
          <div class="reviews__thumb">
            <div class="reviews--underline">
              <p class="reviews__content">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews__customer">Emily, Los Angeles</p>
        </li>
        <li class="reviews__item swiper-slide">
          <picture>
            <source
              srcset="
                ./images/testimonials_3.png    1x,
                ./images/testimonials_3@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="reviews__img"
              src="./images/testimonials_3.png"
              alt="Emily, Los Angeles"
              loading="lazy"
            />
          </picture>
          <div class="reviews__thumb">
            <div class="reviews--underline">
              <p class="reviews__content">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews__customer">Emily, Los Angeles</p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
