.header {
  position: absolute;
  left: 50%;
  width: 100%;

  transform: translate(-50%);
  padding-top: 8px;
  z-index: 199;

  @include mq(tablet-only) {
    padding-top: 32px;
    justify-content: flex-end;
  }

  @include mq(desktop) {
    padding-top: 21px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  @include transition(transform);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.header__link {
  @include mq(tablet-only) {
    margin-left: 0;
    margin-right: auto;
  }
}

.header__btn {
  @include transition(transform, opacity, visibility);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
  @include mq(mobile-only) {
    display: none;
  }
  @include mq(desktop) {
    order: 1;
    min-width: 160px;
  }

  @include mq(tablet-only) {
    display: block;
  }
}

.mobile-menu {
  @include transition(all);
}

.header__menu-btn {
  border: none;
  background-color: transparent;
  fill: var(--sec-accent-color);

  padding: 0;

  cursor: pointer;

  @include transition(transform);

  &:hover,
  &:focus {
    fill: var(--burger-btn-accent-cl);
    transform: scale(1.1);
  }

  &.is-open {
    @include mq(tablet-only) {
      top: 40px;
      margin-left: auto;
      margin-right: 0px;
    }
  }

  & .header__close-icon {
    display: none;
  }

  &.is-open .header__close-icon {
    display: block;

    position: absolute;
    z-index: 100;
    right: 16px;
    top: 16px;
  }
  &.is-open .header__burger-icon {
    display: none;
  }

  @include mq(tablet-only) {
    top: 40px;
    margin-left: auto;
    margin-right: 32px;
  }
  @include mq(desktop) {
    display: none;
  }
}

.is-open.header__menu-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 199;
  fill: #ffffff;

  @include transition(transform);

  &:hover,
  &:focus {
    fill: var(--burger-btn-accent-cl);
    transform: scale(1.1);
  }
}

.mobile-menu.is-open {
  @include transition(transform, opacity, visibility);
}
